@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Recursive Sans';
  src: url('../assets/fonts/Recursive-Medium.ttf') format('truetype');
  font-weight: medium;
  /* font-display: swap; */
}
@font-face {
  font-family: 'Recursive Sans';
  src: url('../assets/fonts/Recursive-SemiBold.ttf') format('truetype');
  font-weight: semi-bold;
  /* font-display: swap; */
}
@font-face {
  font-family: 'Recursive Sans';
  src: url('../assets/fonts/Recursive-Bold.ttf') format('truetype');
  font-weight: bold;
  /* font-display: swap; */
}
@font-face {
  font-family: 'Recursive Sans';
  src: url('../assets/fonts/Recursive-ExtraBold.ttf') format('truetype');
  font-weight: extra-bold;
  /* font-display: swap; */
}
@font-face {
  font-family: 'Recursive Sans';
  src: url('../assets/fonts/Recursive-Light.ttf') format('truetype');
  font-weight: light;
  /* font-display: swap; */
}
@font-face {
  font-family: 'Recursive Sans';
  src: url('../assets/fonts/Recursive-Regular.ttf') format('truetype');
  font-weight: normal;
  /* font-display: swap; */
}

@font-face {
  font-family: 'Recursive Mono';
  src: url('../assets/fonts/Recursive_Monospace-Regular.ttf') format('truetype');
  font-weight: 400;
  /* font-display: swap; */
}

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 53deg 73% 91%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 2%;
		--theme-accent-2: 0deg 0% 2%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 200deg 4.8% 7.5%;
		--theme-link: 343.1deg 47% 67.5%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 70.4deg 35.7% 55.5%;
		--theme-accent-2: 23deg 76% 61%;
		/* --theme-accent-2: 0deg 0% 93%; */
		--theme-quote: 102deg 100% 86%;
	}
}

body::before{
  content: "";
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-image: url("../assets/dots.jpg");
  background-size: content;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  filter: blur(3px);
  z-index:-1;
}
:root[data-theme="dark"] body::before{
  filter: blur(3px) invert();
}
