---
import { Image } from "astro:assets";
import handRaiseUrl from "@/assets/logo-hand-raise-100.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">404 | Oops page not found</h1>
	<p class="mb-2">Please use the navigation to find your way back</p>
	<Image
		alt="A cartoon of prabhat pandey raising hand"
		class="w-48"
		loading="eager"
		src={handRaiseUrl}
	/>
</PageLayout>
