---
import PageLayout from "@/layouts/Base.astro";
import logoImg from "@/assets/logo-hand-eye-100.png";
import { Image } from "astro:assets";
import SocialList from "@/components/SocialList.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<div>
			<p>
				{
					"I am Prabhat Pandey, a backend-focused computer engineer, writer, artist, and an avid explorer of ideas.".toLowerCase()
				}
			</p>
			<p>
				{
					"This site is a chronicle of my journey through code, creativity, and contemplation. Whether you’re here to dive into technical knowledge, enjoy a story, or simply explore, I hope you find something meaningful.".toLowerCase()
				}
			</p>
			<p>
				{"Welcome, and thank you for visiting Prabhat Charita.".toLowerCase()}
			</p>
			<SocialList />
			<div class="flex">
				<Image
					alt="A cartoon version of Prabhat Pandey"
					class="w-48 rotate-[-5deg]"
					loading="eager"
					src={logoImg}
				/>
			</div>
		</div>
		<div>
			<a class="cactus-link" href="/" title="Home">home {"->"}</a>
		</div>
	</div>
</PageLayout>
