---
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate, getAllPostsForBook } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 4;
const allPosts = await getAllPosts({ignoreBooks: true});
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const bookReviewsByDate = (await getAllPostsForBook())
	.slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<p class="mb-4">
			{"Prabhat(प्रभात): My name; meaning dawn or morning".toLowerCase()}<br />
			{
				"Charita(चरित): Sanskrit word referring to ones character, life story, or deeds".toLowerCase()
			}
		</p>
    <a class="cactus-link" href="/about/" title="About">about {"->"}</a>
	</section>
	<section aria-label="Blog post list" class="mt-8">
		<h2 class="title mb-4 text-xl">featured posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
		<a class="cactus-link mt-4 inline-block" data-astro-prefetch href="/posts/" title="All posts"
			>all posts {"->"}</a
		>
	</section>
	{
		!!bookReviewsByDate.length && (
			<section aria-label="Blog post list" class="mt-8">
				<h2 class="title mb-4 text-xl">favourite books</h2>
				<ul class="space-y-4">
					{bookReviewsByDate.map((p) => (
						<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
							{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}
							<PostPreview post={p} />
						</li>
					))}
				</ul>
				<a
					class="cactus-link mt-4 inline-block"
					data-astro-prefetch
					href="/tags/book/"
					title="All books"
				>
					all books {"->"}
				</a>
			</section>
		)
	}
</PageLayout>
