---
import type { MarkdownHeading } from "astro";
import { generateToc } from "src/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<aside class="flex-grow order-2 mb-4 hidden md:top-2 md:sticky md:block">
	<h2 class="font-semibold text-accent-2">
		Table of Contents
	</h2>
	<ul id="toc-list" class="mb-6 mt-4 text-xs md:mb-0">
		{toc.map((heading) => <TOCHeading heading={heading} />)}
	</ul>
</aside>
